<div class="container-fluid page__heading-container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
      <h1 class="m-0">Rails 5 <span class="text-primary">FREE</span> Admin Theme</h1>
    </div>
  </div>
</div>

<div class="container-fluid page__container">

  <div class="card">
  <div class="card-body">
    <h4>Rails 5 Free Admin Theme</h4>
    <p>Stack Rails Base is a Free Rails Bootstrap 4 Admin Theme covering the basic needs of an Admin Application from layout to components.</p>

    <a class="btn btn-success mr-2" href="http://www.frontted.com/themes/stack-rails-base">
      <i class="material-icons align-middle">file_download</i> Download FREE
    </a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
    
    <div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-0"><span class="text-muted">[PRO]</span> Stack Rails Admin Dashboard Theme</h4>
    <a class="btn btn-primary ml-2 float-right" href="http://www.frontted.com/themes/stack-rails" target="_blank">
      <i class="material-icons align-middle">shopping_cart</i> Purchase PRO: $99
    </a>
    </div>
    <hr>
    <ul>
      <li>Included All of Bootstrap 4.1 Components</li>
      <li>3x Dashboards</li>
      <li>4+ Application Interfaces</li>
      <li>Customized Line, Bar, Area &amp; Donut Charts</li>
      <li>Projects, Trello (drag &amp; drop), Chat &amp; Calendar Apps</li>
      <li>10+ stats card variants</li>
      <li>5+ list card variants</li>
      <li>Forms:

        <ul>
        <li>Validation</li>
        <li>Search</li>
        <li>Group</li>
        <li>Rounded</li>
        <li>Flush</li>
        <li>Toggle</li>
        <li>Date pickers</li>
        <li>Input Masking</li>
        <li>WYSIWYG editor</li>
        <li>File Uploads with drag and drop</li>
        <li>Select2 Plugin</li>
        </ul>
      </li>
      <li>Navbar with buttons, menu, forms, avatars, and more!</li>
      <li>Light/Dark Sidebar Styles</li>
      <li>Material &amp; Font Awesome Icons</li>
      <li>Calendar App with drag &amp; drop events</li>
      <li>Functional listing search with list.js</li>
      <li>Extended/Customized Vector Maps</li>
      </ul>
      <hr>
      <div class="text-center">
        <a class="btn btn-secondary btn-lg mr-2" href="https://stack-rails.herokuapp.com/stack/index" target="_blank">
          Live Preview
        </a>
      </div>
  </div>
</div>
</div>