<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Stack-Rails - Rails 5 &amp; Bootstrap 4 Admin Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="<%= @body_class || 'layout-fluid' %>">

  <%= yield %>

</body>
</html>